@font-face {
    font-family: Raleway;
    src: url(https://fonts.google.com/specimen/Raleway?query=raleway#standard-styles);
    font-weight:400;
}

.auth {
    height: 100vh;
    background: #333333;
    padding: 1em;
}

.form {
    background: #E6E6E6;
}

.icon {
    color:#2065A5;
}

.typography {
    font-family: Raleway;
    color: #333333;
}